#foodlist-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px 1px black solid;
  border-color: black;
  height: 100%;
}

#avatar-div {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 16%;
}

#avatar {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
}

#tomo-image {
  height: 10vh;
}

#food-list-container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 25vw;
  min-height: 35vh;
  overflow-y: scroll;
  left: 20%;
  padding: 1rem;
}

#foodlist {
  overflow-y: scroll;
  margin: 0.5rem;
}

#food-name {
  font-size: 1.3rem;
  font-weight: 500;
}

#foodlist-div {
  padding: 0.3rem;
  margin: 0.3rem;
}

#foodlist-with-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#food-description-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-height: 20vh;
  overflow-y: scroll hidden;
  /* hide scroll */
  align-items: center;
  align-content: center;
  justify-content: center;
}
#options-container {
  display: flex;
  justify-content: space-between;
  max-width: 10vw;
  max-height: 5vh;
}

#options-container > button {
  padding: 0.7rem;
  max-width: 5vw;
  max-height: 5vh;
}
