.screen {
  width: 100%;
  height: 100%;
}

.screen:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.screen__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--armygreen), 0.7);
  width: 100%;
  height: 100%;
  border-radius: 10%;
  overflow: hidden;
  z-index: 1;
  border-bottom: 2px solid rgba(black, 0.3);
  border-top: 2px solid rgba(black, 0.3);
  box-shadow: inset 2px 2px 2px rgba(var(--armygreen), 10);
}

.screen__inner:before {
  content: '';
  top: 0;
  border-radius: 13px 13px 0 0;
  border-bottom: 2px solid rgba(var(--peach), 10);
}

.screen__inner:after {
  content: '';
  bottom: 0;
  border-radius: 0 0 13px 13px;
  border-bottom: 2px solid rgba(black, 1);
  background: black;
  display: block;
  padding-bottom: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.dashbutton {
  display: inline-block;
  /* position: relative; */
  overflow: hidden;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgba(var(--chick), 1);
  margin: 1px 10px;
  box-shadow: 1px 1px 3px 2px rgba(var(--peach), 0.6);
  border: 0;
  outline: 0;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  font-family: monospace;
  font-weight: bold;
}

.dashbutton:hover {
  color: rgba(174, 184, 214, 0.5);
}

.dashbutton:active {
  background-color: rgba(var(--peach));
}
