.tomo {
  width: 400px;
  height: 496px;
  background: rgba(var(--periwinkle), 1);
  text-align: center;
  position: fixed;
  border-radius: 54% / 65% 65% 47% 47%;
  top: 20%;
  box-shadow: 10px 0 20px 10px rgba(var(--neonblue), 0.2);
  user-select: none;
}

.tomo__inner {
  width: 400px;
  height: 496px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 54% / 65% 65% 47% 47%;
  overflow: hidden;
}

.tomo__shadow {
  position: absolute;
  border-radius: 54% / 65% 65% 80% 47%;
  top: 12%;
  left: 8%;
  width: 82%;
  height: 78%;
  box-shadow: 10px 15px 10px 10px rgba(174, 184, 214, 0.5);
  filter: blur(5px);
}

.screen {
  position: absolute;
  top: 27%;
  left: 19%;
}

.screen__inner {
  background-color: rgba(var(--armygreen), 0.7);
  position: relative;
  width: 250px;
  height: 256px;
  border-radius: 10%;
  overflow: hidden;
  z-index: 1;
  border-bottom: 2px solid rgba(black, 0.3);
  border-top: 2px solid rgba(black, 0.3);
  box-shadow: inset 2px 2px 2px rgba(var(--armygreen), 10);
}

.screen__inner::before {
  content: '';
  top: 0;
  border-radius: 13px 13px 0 0;
  border-bottom: 2px solid rgba(var(--peach), 10);
}

.screen__inner::after {
  content: '';
  bottom: 0;
  border-radius: 0 0 13px 13px;
  border-bottom: 2px solid rgba(black, 1);
  background: black;
}

.tomo-img-div {
  position: relative;
  top: 15%;
}

#tomo-img {
  position: relative;
  height: 185px;
  width: 170px;
}
