#button-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-options-container > button {
  margin: 1rem;
}

#foodlist-with-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
