#foodlist {
  overflow-y: scroll hidden;
  margin: 0.5rem;
}

#food-name {
  font-size: 1.3rem;
  font-weight: 500;
}

#foodlist-div {
  padding: 0.3rem;
  margin: 0.3rem;
  font-family: 'Text', monospace;
}

#foodlist-with-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#food-description-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-height: 20vh;
  overflow-y: scroll hidden;
  /* hide scroll */
  align-items: center;
  align-content: center;
  justify-content: center;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.food-container-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#user-input-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--peach), 0.5);
  padding: 2rem;
  color: rgba(var(--neonblue), 0.7);
}

.food-recs-bg {
  position: relative;
  width: 100vw;
  height: 100%;
}
