.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-image: url('../../assets/Welcome-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-container-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  margin-top: 1rem;
}

.home-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#dashboard-title-container {
  display: flex;
  justify-content: center;
  color: rgba(var(--white), 1);
  font-family: 'Bubbly', monospace, sans-serif;
  -webkit-text-stroke: 2px rgba(var(--peach));
  width: 100vw;
  height: 15vh;
  font-size: 2rem;
  margin-top: 3rem;
}

.tomomi-house-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  border: solid 1px black;
  margin-top: 3rem;
}
/* 
.tomomi-house {
  width: 100%;
  /* height: 100%; */
/* display: flex;
  justify-content: center;
  align-items: center; */
/* } */
