.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.home-container-bg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-content: space-between;
  margin-top: 1rem;
  position: relative;
}

.home-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tomo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  min-width: 350px;
  height: 70%;
  min-height: 300px;
  padding: 2rem;
  margin-left: 4rem;
}

.tomo-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* .interactive-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua;
  width: 30vw;
  height: 45vh;
  padding: 1rem;
  margin: 1rem;
  margin-left: 5rem;
  font-family: monospace;
} */

#dashboard-title-container {
  display: flex;
  justify-content: center;
  color: rgba(var(--licorice), 1);
  background-color: aliceblue;
  font-family: 'Tamagotchi-Normal', monospace, sans-serif;
  width: 100vw;
  height: 15vh;
  margin-left: 1rem;
}

#button-a {
  position: absolute;
  top: 35%;
  right: 10%;
}

#button-b {
  position: absolute;
  bottom: 12%;
  left: 56%;
}

#button-c {
  position: absolute;
  bottom: 12%;
  left: 44%;
}
