#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 90vh;
}

#name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

#name-container > input {
  height: 5vh;
  width: 20vw;
  /* set min width */
}

#welcome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 50vw;
}

#options-container {
  display: flex;
  justify-content: space-between;
}

#options-container > button {
  padding: 0.7rem;
  max-width: 5vw;
  max-height: 10vh;
}

/* .tomo-option {
  height: 20vh;
  cursor: pointer;
  border: 1px solid black;
  padding: 1rem;
  /* responsive? */
