#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../assets/Welcome-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
