#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

#name-container {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#name-container > input {
  height: 5vh;
  width: 20vw;
  /* set min width */
}

#options-container {
  height: 50vmin;
  width: 50vmin;
}

#welcome-title-container {
  font-family: 'Tamagotchi-Normal', monospace;
  color: rgba(var(--white), 1);
}
