.home-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/Welcome_Big.jpg');
  background-size: cover;
  background-position: center;
}

.hello-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2rem;
  height: 50vh;
  width: 55vw;
  z-index: 2;
  background-color: rgba(var(--melon), 0.6);
  border-radius: 20%;
}

.title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(var(--melon), 0.6);
  border-radius: 20%;
}

.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Bubbly', monospace;
  font-size: 5vw;
  color: rgba(var(--licorice), 1);
  -webkit-text-stroke: 2px white;
}

.tomoiru-title {
  font-size: 7vw;
}

.sub-title {
  font-family: 'Bubbly', monospace;
  font-size: 2vmin;
  padding: 1rem;
}

#signin-container {
  display: flex;
  justify-content: space-between;
  min-height: 30%;
}
