#home-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/dark_japan.gif);
  background-size: cover;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2rem;
  height: 40vh;
  width: 55vw;
  background-color: rgba(var(--chick), 0.3);
  z-index: 2;
}

#title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: rgba(var(--melon), 1);
  height: 70%;
  width: 80%;
}

#title-container > span {
  font-family: 'Tamagotchi-Normal', monospace, sans-serif;
  font-size: x-large;
}

#signin-container {
  display: flex;
  justify-content: space-between;
  min-height: 30%;
}
