#tomomi-welcome-div {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--chick), 1);
  max-width: 60vw;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.tomomi {
  width: 100%;
}
