/* .loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
} */

#auth-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/Welcome_Big.jpg');
  background-size: cover;
  background-position: center;
}

#auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  height: 70vh;
  width: 65vw;
  z-index: 2;
}

#auth-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  align-content: space-around;
  height: 80%;
  width: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  padding: 2rem;
  border-radius: 10%;
  background-color: rgba(var(--melon), 0.6);
}

#auth-title {
  font-family: 'Bubbly', monospace, sans-serif;
  font-size: 4vw;
  color: rgba(var(--licorce), 1);
  -webkit-text-stroke: 2px white;
}

#sub-title-auth {
  font-family: 'Text', monospace;
  font-size: 3vmin;
  padding: 0.2em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

input {
  padding: 1rem;
  margin: 0.5rem;
  width: 25vw;
}
